ol {
    padding-left: 0.6rem;
}

.cardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: auto;
}

.cardFavIcon {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}